*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
font-family: montserrat;
}
nav{
    background: gray;
    height: 80px;
    width: 100%;
}
img{
   padding-top:3px;
   height: 89%;
   padding-left: 1%;
}
nav ul{
    float: right;
    margin-right: 50px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5 px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: black;
    transition: .5s;
}
h1{
    font-size: 20px;
    padding-top: 5%;
    padding-left: 1%;
}
p{
    padding-left: 1%;
    padding-top: 1%;
    font-size: 19px;
}